/* index.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212; /* Dark background for the body */
    color: #ecf0f1; /* Light text color for contrast */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #1DB954; /* Green color for headers, matching the theme */
}

/* Ensuring the body occupies full height and positions elements correctly */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Global font for better text consistency */
p, li, span, a {
    font-family: 'Poppins', sans-serif;
    color: #ecf0f1;
}

/* General Link Styling */
a {
    text-decoration: none;
    color: #1DB954; /* Spotify green */
}

a:hover {
    text-decoration: underline;
    color: #1ed760; /* Lighter green for hover */
}
